ENVIRONMENT=development

POSTGRES_DB=your_database_name
POSTGRES_USER=your_database_user
POSTGRES_PASSWORD=your_database_password

DATABASE_URL=postgresql+psycopg://your_database_user:your_database_password@db:5432/your_database_name

CORS_ORIGINS=["http://localhost:4200"]

SESSION_COOKIE_SECURE=false
SESSION_COOKIE_SAMESITE=lax
SESSION_COOKIE_NAME=session_id
SESSION_TTL_DAYS=7
