# Build output
/dist
/functions/lib/

# Node modules
/node_modules

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Angular cache and metadata
.angular/

# Yarn cache and files
.yarn/

# Firebase local emulator data, configs
.firebase/

# Logs and temporary files
*.log
/tmp
/out-tsc
/bazel-out
.sass-cache/
connect.lock
coverage
typings
libpeerconnection.log
testem.log

# System files
.DS_Store
Thumbs.db
